/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.padding {
    padding: 15px;
}

#notification-popup.MessageBanner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    height: inherit;
    min-width: inherit;
}

#notification-popup .MessageBanner-text {
    margin: 0;
    padding: 18px 15px;
    min-width: inherit;
}


.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Helvetica,sans-serif;
    text-align: center;
    border-radius: 25%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    font: 20px/1 Helvetica,sans-serif;
    text-align: center;
    border-radius: 25%;
    background-clip: padding-box;
    }
    /*
    div {
        text-align: center;
    }
    */
    .minus{
        background-color: #d6533f !important;
    }

    .plus{
        background-color: #48925b !important;
    }
    .minus:hover{
        background-color: rgb(237, 66, 66) !important;
    }
    .plus:hover{
        background-color: rgb(4, 172, 65) !important;
    }
    /*Prevent text selection*/

    span{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    input{  
        border: 0;
        width: 2%;
    }
    Input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input:disabled{
        background-color:white;
    }
    button{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

